* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
body{
    background: #f4f4f4;
}

.navbar{
    background:#d62828;
    color:#fff;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}
.logo{
    font-weight: bold;
    font-size: 25px;
    background-color: #2ad06f;
    padding: 20px 30px;
    border-radius: 19px;
    text-transform: uppercase;
    display: inline-block;
    
}
.navbar nav a{
    color: #fff;
    text-decoration: none;
    margin-left:25px;
    font-weight: 600;
    font-size: 25px;
}
.navbar nav a:hover{
    text-decoration: underline;
}
.hero{
    margin-top: 70px;
    height: 400px;
    background-image:
    url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    background-position: center;
    position: relative;
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center ;
    color:#fff;
    flex-direction: column;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba((0), 0, 0,4.5);
}
.hero-content{
    position: relative;
    z-index: 1;
}
.hero-content h1{
    margin-bottom: 12px;
}
.hero-content p{
    margin-bottom: 15px;
}
.hero-content button{
    padding: 10px 20px;
    border: none;
    background: #06d6a0;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}
.hero-content button:hover{
    background: #ffffff;
    color: #000;
    transform: translateY(-3px);
}


.about{
    display: flex;
    grid-template-columns: 7fr 5fr;
    gap: 30px;
    padding: 50px 60xp;
    background: #0090f6;
    color: #fff;
    align-items: center;
}
.about-text h2{
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: bold;
}
.about-text p{
    font-size: 10px;
    line-height: 1.5px;
    margin-bottom: 10px;
    display: flex;
}
.laptop-coding {
  width: 110%;
  min-height: 340px;
  background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}
.info-boxes{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding: 0;
    align-items: flex-start;
    
}

.offer-box,
.why-box{
    flex: 3;
    min-height: 180px;
    border-radius: 5px;
    padding: 20px;
    display: block;

}
.offer-box{
    background: #ffb703;
    text-align: center;
}
.offer-box h3{
    margin-bottom: 0px;
}
.offer-box button{
    margin-top:5px ;
    padding: 8px 18px;
    border: none;
    background: #000;
    color:#fff;
    cursor:pointer;
    font-weight: bold;
}
.why-box{
    background: #06d6a0; 
}
.why-box h3{
    margin-bottom: 8px;
}
.why-box ul{
    margin-left: 18px;
    font-size: 14px;
}

footer{
    text-align: center ;
    padding: 20px;
    background: #07e965;
    color: #333;
    font-size: 22px;
}
@media(max-width:768px){
    .about{
        grid-template-columns: 1fr;
    }
    .info-boxes{
        flex-direction: column;
    }
}

